@import url(https://fonts.googleapis.com/css?family=Lato:400,100);

* {
  font-family: 'Lato', sans-serif;
}

.attended {
  background-color: green;
}

.avatar {
  width: 100px;
}

.attendance-well {
  min-height: 260px;
}
