* {
  font-family: 'Lato', sans-serif;
}

.attended {
  background-color: green;
}

.avatar {
  width: 100px;
}

.attendance-well {
  min-height: 260px;
}

/* alert animations */
.alert {
  margin-bottom: 0;
}

.alert.ng-enter {
  animation: fadeInDown 1s;
}

.alert.ng-leave {
  animation: fadeOutUp 1s;
}
/* end alert animations */

.alerts {
  position: absolute;
  z-index: 1;
  width: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: inherit;
}
