<h1>WDI 04 - Attendance</h1>
{{currentDate}} -
{{formattedDate}}

<form>
  <div class="form-group">
    <label>Date</label>
    <input class="form-control" type="date" ng-model="currentDate">
  </div>
</form>

<div class="row">
  <div class="col-sm-3 well attendance-well" ng-repeat="student in students" ng-class="{attended: attended(student.githubUsername)}" ng-click="toggleAttendance(student.githubUsername)">
    <student-card student="student" show-cohort="false"></student-card>
  </div>
</div>
