<h1>Attendance</h1>

<p>
  Mark students <strong>green</strong> by pressing their face.
</p>

<form>
  <div class="form-group">
    <label>Date</label>
    <div class="input-group">
      <input ng-click="open($event)" class="form-control" type="text" ng-model="currentDate" uib-datepicker-popup="MM/dd/yyyy" is-open="calendarOpen" ng-required="true" show-button-bar="false">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </div>
  </div>
</form>

<div class="row">
  <div class="col-xs-6 col-sm-3 well attendance-well" ng-repeat="student in students" ng-class="{attended: attended(student.githubUsername)}">
    <student-card student="student" show-cohort="false"></student-card>
    <a class="btn btn-success" ng-click="toggleAttendance(student.githubUsername)">Toggle Attendance</a>
  </div>
</div>
