<h1>{{selectedCohort}}</h1>

<h2>Students to Track</h2>
<div class="row">
  <div class="col-md-3" ng-repeat="student in students | filter:{status: {track: 'true'}}">
    <img class="avatar" ng-src="{{student.avatarUrl}}">
    <h3>{{student.firstName}} {{student.lastName}}</h3>
    <p ng-show="student.status && student.status.note">{{student.status.note}}</p>
  </div>
</div>

<a href="/#/attendance" class="btn btn-primary">Attendance</a>
<div class="row">
  <div class="col-md-4">
    <attendance-graph cohort="selectedCohort"></attendance-graph>
  </div>
</div>
