<h1>{{selectedCohort}}</h1>

<h2>Students to Track</h2>
<div class="row">
  <div class="col-md-3" ng-repeat="student in students | filter:{status: {track: 'true'}}">
    <student-card student="student"
                  show-cohort="false"
                  show-note="true"></student-card>
  </div>
</div>
<hr>
<h2>Attendance</h2>
<a href="/#/attendance" class="btn btn-primary">Attendance</a>
<div class="row">
  <div class="col-md-12">
    <attendance-graph cohort="selectedCohort"></attendance-graph>
  </div>
</div>
