<div>
  <div class="modal-header">
      <h3 class="modal-title">Admin Settings</h3>
  </div>
  <div class="modal-body">
    <h2>UID</h2>
    <input class="form-control" type="text" value={{uid}}>
    <br>
    <p>
      If you are unable to access student and cohort information, give the UID above
      to your administrator in order to obtain access.
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="close()">Close</button>
  </div>
</div>
